### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file = "./Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
file_df = pd.read_csv(file)
file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Count total players
Total_players=len(file_df['SN'].value_counts())
#Create data frame
Total_players_count=pd.DataFrame({"Total_Players":[Total_players]})
Total_players_count

   Total_Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Number of Unique Items    
Number_of_unique_items=len(file_df['Item ID'].unique())
# Average Purchase Price
Average_price=file_df['Price'].mean()
# Total Number of Purchases
Total_number_of_purchases=file_df['Purchase ID'].count()
# Total Revenue
Total_revenue=file_df['Price'].sum()

#Create data frame
Summary_df = pd.DataFrame({"Number of Unique Items":[Number_of_unique_items],
                           "Average Price":[Average_price], 
                           "Number of Purchases": [Total_number_of_purchases], 
                           "Total Revenue": [Total_revenue]})
Summary_df 
#Formatting 
Summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Gender count
gender_count_df = file_df.groupby("Gender")["SN"].nunique()
gender_count_df.head()
#Gender percentage
gender_percentage_df=gender_count_df/Total_players*100

#Create data frame
Gender_Demographics_df = pd.DataFrame({"Total Count":gender_count_df, "Percentage of Players":gender_percentage_df })

#Formatting
Gender_Demographics_df
Gender_Demographics_df.style.format({'Percentage of Players':"{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# Purchase Count
gender_purchases_df = file_df.groupby("Gender")["Purchase ID"].count()

#Average Purchase Price
gender_average_df = file_df.groupby("Gender")["Price"].mean()

#Total Purchase Value
gender_total_df = file_df.groupby("Gender")["Price"].sum()

# Average Purchase Total per Person by Gender
Avg_gender_total_df = gender_total_df/gender_count_df
Avg_gender_total_df.round(2)

#Create data frame
gender_analysis_df = pd.DataFrame({"Purchase Count":gender_purchases_df, 
                                   "Average Purchase Price":gender_average_df,
                                   "Total Purchase Value":gender_total_df,
                                   "Avg Total Purchase Per Person":Avg_gender_total_df})
#Formatting
gender_analysis_df["Average Purchase Price"] =gender_analysis_df["Average Purchase Price"].map("${:.2f}".format) 
gender_analysis_df["Total Purchase Value"] =gender_analysis_df ["Total Purchase Value"].map("${:.2f}".format)
gender_analysis_df["Avg Total Purchase Per Person"] =gender_analysis_df["Avg Total Purchase Per Person"].map("${:.2f}".format)
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
# Establish bins for ages
bins = [0,10,15,20,25,30,35,40, 45]
age_ranges = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

# Segment and sort age values into bins established above
file_df["Age Group"] = pd.cut(file_df["Age"],age_bins, labels=group_names)

#Add "Age Group"
age_grouped =file_df.groupby("Age Group")
#Count total players by age
total_count_age = age_grouped["SN"].nunique()
# Calculate percentages
percentage_by_age = (total_count_age/Total_players) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Total Count": total_count_age,"Percentage of Players": percentage_by_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
# Count purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()

# Obtain average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

# Calculate total purchase value 
total_purchase_value = age_grouped["Price"].sum()

# Calculate the average purchase per person
avg_purchase_per_person_age = total_purchase_value/total_count_age

# Create data frame
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# Format the data frame with no index
age_demographics.index.name = None

# Formatting
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

Spender_info=file_df.groupby("SN")
Top_Purchase_Count=Spender_info["Purchase ID"].count()
Avg_Spender=Spender_info["Price"].mean()
Total_Spender=Spender_info["Price"].sum()
# Create data frame
Top_Spenders_df = pd.DataFrame({"Purchase Count":Top_Purchase_Count,
                             "Average Purchase Price":Avg_Spender,
                             "Total Purchase Value":Total_Spender})

Top_Five_Spenders = Top_Spenders_df.sort_values("Total Purchase Value", ascending=False).head()
Top_Five_Spenders.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value
Most_Popular_Group = file_df.groupby(["Item ID", "Item Name"])
Popular_Purchase_Count = Most_Popular_Group["Price"].count()
Popular_Purchase_Value = Most_Popular_Group["Price"].sum()
Popular_Item_Price = Popular_Purchase_Value/Popular_Purchase_Count

# Create data frame

Most_Popular_Items = pd.DataFrame({"Purchase Count" : Popular_Purchase_Count,
                                  "Item Price": Popular_Item_Price,
                                  "Total Purchase Value": Popular_Purchase_Value})

Most_Popular_Items = Most_Popular_Items.sort_values("Purchase Count", ascending=False).head()

#Formatting       
.style.format({"Item Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [36]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value
Most_Profitable_Items =Most_Popular_Items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Formatting
Most_Profitable_Items.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

#1,The age group of buyers for these items are clearly younger, ages 15 thru 29, with nearly half falling into the 20-24 year old age group.  This group also spends a larger portion of total purchases.
#2,The younger age group is also predominately Male (approximately 80% of total)
#3,However, the 35-39 and Under-10 age groups have a higher average purchase total per person than any other group.